@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@-viewport { width: device-width; scale: 1; }

html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;
  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;
  background-color: limegreen;
  transition: all 500ms ease-in-out;
  opacity: 0;
  overflow: hidden;
}

.js-btn-show {
    opacity: 1;
}    

.diamond {
  height: 80px;
  right: -10em;
  top: calc(50% - 40px);
  width: 80px;
  background-color: hotpink;
  -webkit-transform: rotate(45deg)
  transform: rotate(45deg);
  transition: all 500ms linear;
}
    
.js-move {
  right: 3em;
}

.panel {
  width: 250px;
  top: 50%;
  max-height: 0;
  overflow:hidden;
  background-color: yellow;
  transform: translateY(-50%);
  transition: all 500ms ease-out;
  color: darkgoldenrod;
  text-align: center;
}

.js-panel-collapse {
  max-height: 250px;
}
    
.panel h2 {
  margin: 0;
  padding: 3rem 0;
  overflow:hidden;    
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;
  background-color: orange;
  border-radius: 50%;
}
    
.js-ball-bounce {
  -webkit-animation: circle-bounce 1.5s linear;
  animation: circle-bounce 1.5s linear;
}

@-webkit-keyframes circle-bounce {
        
0%{
   top: cal(50% - 50px);
   right: 2rem;
 }
40% {
  top: calc(50% - 40px);
  right: 3rem;
 }
60% {
  top: calc(50% - 40px);
  right:4rem;
 }
100% {
  top: calc(50% - 40px);
  right: 5rem;
 }
}
    
@keyframes circle-bounce {
        
0%{
   top: calc(50% - 50px);
   right: 2rem;
 }
40% {
  top: calc(50% - 40px);
  right: 3rem;
 }
60% {
  top: calc(50% - 60px);
  right: 4rem;
 }
100% {
  top: calc(50% - 40px);
  right: 5rem;
 }
}
    
.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;
  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}
    
.js-list-append{
  -webkit-animation: drop-down 250ms linear;
  animation: drop-down 250ms linear;
}
    
@-webkit-keyframes drop-down {
  0% {
    max-height:0;
  }
  100% {
    max-height: 38px;
  }   
}
    
@keyframes drop-down {
  0% {
    max-height:0;
  }
  100% {
    max-height: 38px;
  }
}
.list li {
  padding: 0.5em;
  background-color: plum;
  border: 1px solid mediumpurple;
  color: mediumpurple;
}